@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-basic: calc((100vw - 1920px)/1920 * 22.4 + 16px);
  --program-card: max(250px, calc((100vw - 1920px)/1920 * 250 + 250px));
  --icons: max(24px, calc((100vw - 1920px)/1920 * 24 + 24px));
  --scew-line: max(55px, calc((100vw - 1920px)/1920 * 65 + 65px))
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /*color: var(--foreground);*/
  /*background: var(--background);*/
  background-image: url("/background.jpg");
  background-attachment: fixed;
  background-position-x: 60%;
  background-position-y: -30%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll, local;
  }
}

@layer utilities {
  .text_desktop {
    font-size: calc( (100vw - 1920px)/(2560 - 1920) * (26 - 18) + 18px);
  }
}

html{
  scroll-behavior: smooth;
}
